@charset "UTF-8";

html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
}

/* ----------------------------------------
ヘッダー
 ----------------------------------------*/
.header {

}

/* ----------------------------------------
メイン
 ----------------------------------------*/
.main {

}

/* ----------------------------------------
フッター
 ----------------------------------------*/
.footer {

}